html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#profileInfo {
    margin-top: 20px;
}
